@import "./mixins"
@import "./extends"
@import "./variables"

html, body
  background-color #fff
html
  font-size 18px

body
  font-family 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Avenir', 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'Meiryo', 'メイリオ', Arial, sans-serif
  color #555

p
  line-height 1.75em
a
  text-decoration none
  color #555
 
*
  webkit-box-sizing border-box
  -moz-box-sizing border-box
  -o-box-sizing border-box
  -ms-box-sizing border-box
  box-sizing border-box
img
  max-width 100%
  height auto

